{% extends 'extend/components/extend_product_list.html' %}

{% load wagtailcore_tags i18n %}


{% block title_component %}
  {{ self.title }}
{% endblock title_component %}

{% block primary_action %}
  {% if self.primary_action_url %}
    <a
      href="{% firstof self.primary_action_url.external_link.redirect_url self.primary_action_url.url %}"
      title="{% trans 'Ir a ' %} {{ self.primary_action_text }}"
      class="o-kicker o-link o-link_secondary"
    >
      {{ self.primary_action_text }}
    </a>
  {% endif %}
{% endblock primary_action %}

{% block secondary_action %}
  {% if self.secondary_action_url %}
    <a
      href="{% firstof self.secondary_action_url.external_link.redirect_url self.secondary_action_url.url %}"
      title="{% trans 'Ir a ' %} {{ self.secondary_action_text }}"
      class="o-btn o-btn_secondary"
    >
      {{ self.secondary_action_text }}
    </a>
  {% endif %}
{% endblock secondary_action %}
