{#  From Settings  #}
{% load wagtailsettings_tags wagtailcore_tags svg_tags i18n menu_tags static wagtailuserbar %}
{% get_settings use_default_site=True %}

{% load wagtailcore_tags wagtailimages_tags i18n menu_tags static wagtailuserbar search_form %}

{% block menu %}
  
  <header class="c-header js-header-target">

    <div class="c-header__inner">
      
      {# Logo #}
      {% with settings.commons.SantillanaSettings as settings_site  %}
        {% if settings_site.logo_url %}
          <a
            class="c-header__brand"
            href="{% pageurl settings_site.logo_url %}"
            title="Santillana"
          >
            <figure>
              {% image settings_site.logo fill-134x32 class="o-img" %}
            </figure>
          </a>
        {% endif %}
      {% endwith %}

      {# Buscador y Menu hamburguesa #}
      <div class="c-header__cta">

        {% if self != null %}
          <button
            class="c-header__search-btn o-btn-round o-btn-round_primary i-search js-search-open"
          >
            <span class="u-hidden">{% trans "Buscar" %}</span>
          </button>
        {% endif %}

        <button
          class="
            c-header__btn-close
            o-btn-round
            o-btn-round_light
            u-hidden-dk
            i-bars
            js-header-toggle-menu
          "
        >
          <span class="u-hidden">{% trans "Menu mobile" %}</span>
        </button>
        
      </div>
      
      {% main_menu add_sub_menus_inline=True apply_active_classes=True %}

    </div>

    {# Search form for header #}
    {% include 'include/component/search_header.html' %}

  </header>

{% endblock %}

