{% load i18n %}

<form class="c-filter js-filter-target" method="GET">

  <h2 class="c-filter__title o-text o-bold u-inherit-color">{% trans "Filtra por" %}</h2>

  <div class="c-filter__group">

    {% for field in filter_form %}

      <div
        class="c-filter__item js-filter-item"
        data-filter-counter="{{ field.value|length }}"
      >

        <span
          class="c-filter__counter js-filter-number-counter"
        >
          {{ field.value|length }}
        </span>

        <p class="c-filter__toggle i-chevron-down js-dropdown-button">{{ field.label }}</p> 

        <ul class="c-filter__list o-list">
          {% for choices in field.subwidgets  %}

            <li class="c-filter__option">

              <input
                id="{{ choices.data.label|slugify }}"
                class="c-filter__option-input"
                type="checkbox"
                name="{{ choices.data.name }}"
                value="{{ choices.data.value|slugify }}"
                {% if choices.data.selected %}checked{% endif %}
              >

              <label
                class="c-filter__option-label js-filter-choice"
                for="{{ choices.data.label|slugify }}"
                @click="toggleCounterOfFilter($event)"
              >
                {{ choices.data.label }}
              </label>

            </li>

          {% endfor %}
        </ul>

      </div>

    {% endfor %}

  </div>

  {# chips para los filtros #}
  {% include 'include/component/filter/chips.html' %}
  
  <footer class="c-filter__actions">
    <button
      class="c-filter__action o-btn o-btn_secondary o-btn_bg-transparent u-hidden js-filter-clear-btn"
      type="button"
      @click="clearFilters()"
    >
      {% trans "Borrar filtros" %}
    </button>
    <button
      type="submit"
      class="c-filter__action o-btn"
    >
      {% trans "Filtrar" %}
    </button>
  </footer>

</form>
