{% extends "base.html" %}

{% load wagtailcore_tags catalog_tags i18n %}

{% block content %}

  {% get_catalog_page %}

  <section class="o-section">
    <div class="o-canvas">

      <div class="o-system-message">

        <figure class="o-system-message__figure">
          {% block image %}{% endblock image %}
        </figure>

        <header class="o-system-message__header">
          <h1 class="o-system-message__text o-system-message__text_light o-system-message-space">
            {% block title_message %}{% endblock title_message %}
          </h1>

          <h2 class="o-system-message__subtitle o-regular o-system-message-space">
            {% block subtitle_message %}{% endblock subtitle_message %}
          </h2>

          <p class="o-system-message__text o-medium o-system-message-space">
            {% block lead_message %}{% endblock lead_message %}
          </p>

          <div class="o-system-message__actions">
            <a
              class="o-btn o-btn_secondary o-btn_outline-grey"
              href="{% pageurl catalog_page %}"
              title="{% trans "Ir a" %} {{ catalog_page.title }}"
            >
              {{ catalog_page.title }}
            </a>
            <a class="o-btn" href="/">Home</a>
          </div>
        </header>

      </div>

    </div>
  </section>

{% endblock %}