.c-list-links-pages {
  @include flexbox;
  @include align-items(stretch);
  @include flex-wrap(wrap);
  @include px-to-rem(column-gap, $gutter * 4);
  @include px-to-rem(row-gap, $gutter * 4);
}

.c-list-links-pages__item {
  position: relative;
  @include px-to-rem(padding-bottom, $gutter * 2);
  line-height: 1.4;
  transition: $transition-ease-in-out-2s;
}
.c-list-links-pages__item_featured {
  border: 2px solid $c-surface-grey-20;
  @include px-to-rem(border-radius, $gutter);
  @include px-to-rem(padding, $gutter * 5);
  background-color: $c-neutro;

  &:hover {
    border-color: $c-brand-primary;
    color: $c-neutro;
    background-color: $c-brand-primary;

    .c-list-links-pages__item-title,
    .c-list-links-pages__item-lead {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
}

.c-list-links-pages__item-title,
.c-list-links-pages__item-lead {

  // Default state
  &:not(.c-list-links-pages__item_featured &) {
    transition: $transition-ease-in-out-2s;

    &:hover {
      color: $c-brand-primary;
      text-decoration: underline;
    }
  }

}

.c-list-links-pages__item-title {
  display: block;
  @include px-to-rem(margin-bottom, $gutter);
  font-weight: $f-medium;

  &:not(.c-list-links-pages__item_featured &) {
    &:hover + .c-list-links-pages__item-lead {
      &::before {
        background-color: $c-brand-primary;
      }
    }
  }
}

.c-list-links-pages__item-lead {
  // Default state
  &:not(.c-list-links-pages__item_featured &) {
    padding-right: $gutter * 3;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      @include px-to-rem(height, 2px);
      background-color: $c-surface-grey-20;
      transition: $transition-ease-in-out-2s;
    }

    &:hover {
      &::before {
        background-color: $c-brand-primary;
      }
    }
  }
}


@include media-query(medium-max) {
  .c-list-links-pages__item {
    width: 100%;
  }

  .c-list-links-pages__item-lead {

    // Default state
    &:not(.c-list-links-pages__item_featured &) {
      @include truncatechars($gutter * 2, 1.4, 2);
      font-weight: $f-light;
    }

    // Featured Modifier
    .c-list-links-pages__item_featured & {
      @include truncatechars(20px, 1.4, 3);
    }
  }
}

@include media-query(medium) {

  .c-list-links-pages__item {
    flex: 1 1 30%;
    @include px-to-rem(min-width, 350px);
    @include px-to-rem(max-width, 350px);
    @include px-to-rem(font-size, 18px);
  }

  .c-list-links-pages__item-title {

    // Default state
    &:not(.c-list-links-pages__item_featured &) {
      font-weight: $f-light;
      text-decoration: underline;
    }
  }

  .c-list-links-pages__item-lead {

    // Default state
    &:not(.c-list-links-pages__item_featured &) {
      @include truncatechars(18px, 1.4, 2);
    }

    // Featured Modifier
    .c-list-links-pages__item_featured & {
      @include truncatechars($gutter * 3, 1.4, 3);
    }

  }
}


@media(min-width: 768px) and(max-width: 1240px) {
  .c-list-links-pages {
    @include justify-content(center);
  }
}
