{% load static wagtailcore_tags wagtailuserbar menu_tags %}
{% load snw_sass %}
{% load fixed_django_vite %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
      {% endblock %}
    </title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Favicon #}
    {% include "includes/favicon.html" %}

    {# Global stylesheets #}
    <link href="{% sass_src 'sass/theme_santillana.scss' %}" rel="stylesheet" type="text/css" />

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">

    {# Main JS #}
    {% wagtailuserbar %}

    {% include "includes/layout/header.html" %}

    {% block content %}{% endblock %}

    {# TODO @andres.tafur evaluemos si esto es buena idea.#}
    {% wagtail_tag_manager/templatetags/cookie_bar.html %}

    {% flat_menu 'footer_menu' add_sub_menus_inline=True %}

    {# Global javascript #}
    {% vite_asset 'js/main.js' %}

    {% block extra_js %}
      {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
