{% load static wagtailcore_tags wagtailuserbar menu_tags i18n %}
{% load snw_sass %}
{% load wtm_tags %}
{% load fixed_django_vite %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
      {% endblock %}
    </title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Favicon #}
    {% include "include/favicon.html" %}

    {# Open Graph #}
    {% block opengraph %}{% endblock %}

    {# Global stylesheets #}
    <link href="{% sass_src 'sass/theme_santillana.scss' %}" rel="stylesheet" type="text/css" />

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

<body class="{% block body_class %}{% endblock %}" x-data="{}">

    {# Main JS #}
    {% wagtailuserbar %}

    {% include "include/layout/header.html" %}

    {# Breadcrumb #}
    {% block breadcrumbs %}
      {% if self.get_ancestors|length > 1 %}
        <div class="o-canvas">

          <nav class="c-breadcrumbs">

            <a
              href="/"
              title="{% trans 'Ir a la página de inicio' %}"
              class="c-breadcrumbs__link o-link o-link_secondary o-light i-home"
            >
              {% trans 'Inicio' %}
            </a>

            {% block breadcrumbs_items %}{% endblock %}

          </nav>
      
        </div>
      {% endif %}
    {% endblock breadcrumbs %}

    {% block content %}{% endblock %}

    {% flat_menu 'footer_menu' add_sub_menus_inline=True %}

    {# Cookies #}
    {% wtm_cookie_bar %}

    {# Global javascript #}
    {% vite_asset 'js/main.js' %}

    {% block extra_js %}
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endblock %}
  </body>
</html>
