.s-richtext {
  br {
    content: "";
    display: block;
    @include px-to-rem(padding-bottom, $gutter);
  }

  a {
    position: relative;
    padding: 0;
    text-decoration: underline;
    text-underline-position: under;
    word-break: break-all;
    color: $c-default-link;

    &:hover {
      color: $c-primary-20;
    }
  }

  ul,
  ol {
    @include px-to-rem(margin-top, $gutter * 3);
    @include px-to-rem(margin-bottom, $gutter * 3);
    @include px-to-rem(margin-left, $gutter * 5);
  }

  li,
  p {
    font-weight: $f-light;
    @include px-to-rem(font-size, 18px);

    &:not(:last-of-type) {
      @include px-to-rem(margin-bottom, $gutter * 3);
    }
  };

  h2 {
    @include px-to-rem(margin-top, $gutter * 6);
    @include px-to-rem(margin-bottom, $gutter * 3);
  }

  h2 {
    @include px-to-rem(font-size, $gutter * 3);
  }

  h3 {
    @include px-to-rem(font-size, 20px);
    color: rgba($color: $c-default-text, $alpha: 0.5);
    @include px-to-rem(margin-bottom, $gutter * 3);
  }

  iframe,
  figure,
  img {
    display: block;
    width: 100%;
    @include px-to-rem(max-width, 642px);
    @include px-to-rem(min-height, 344px);
    margin-right: auto;
    margin-left: auto;
    @include px-to-rem(margin-bottom, $gutter * 3);
  }

  blockquote {
    @include px-to-rem(margin-top, $gutter * 3);
    @include px-to-rem(margin-bottom, $gutter * 3);
    @include px-to-rem(padding, $gutter * 3 $gutter * 4);
    border-left: 2px solid $c-default-text;
    background-color: $c-surface-grey-10;

    p {
      &::before,
      &::after {
        content: '"';
      }

      font-weight: $f-light;
      @include px-to-rem(font-size, $gutter * 2);
      line-height: 1.2;
    }
  }

}

.s-richtext_list,
.s-richtext_inline {
  p {
    &:not(:last-of-type) {
      @include px-to-rem(margin-bottom, $gutter);
    }
  }
}

// .s-richtext_basic
.s-richtext_list {
  ul,
  ol {
    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.s-richtext_list-check {
  li {
    @include px-to-rem(padding-left, $gutter * 2);

    &:not(:last-of-type) {
      @include px-to-rem(margin-bottom, $gutter * 2);
    }

    &::marker {
      content: $i-check;
      font-family: '#{$font-family-ico}';
    }
  }
}


/*------------------------------------*\
  Media querys
\*------------------------------------*/

@include media-query(medium) {
  .s-richtext {
    h2 {
      @include px-to-rem(font-size, $gutter * 4);
    }

    h3 {
      @include px-to-rem(font-size, $gutter * 3);
    }

    blockquote {
      @include px-to-rem(padding, $gutter * 7);

      p {
        &::before,
        &::after {
          content: '"';
        }

        @include px-to-rem(font-size, 18px);
      }
    }
  }
}
