/*---------------------------------------------*\
  #font-face
  $font-family-ico: "ico-snw" !default;
  URL custom fonts: https://fonts.google.com/share?selection.family=Outfit:wght@100;300;400;500
\*---------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600&display=swap');


// - Icommon Font Ico
@font-face {
  font-family: '#{$font-family-ico}';
  src: url('#{$path-font}/#{$font-family-ico}.eot?qqnr5');
  src: url('#{$path-font}/#{$font-family-ico}.eot?#iefix') format('embedded-opentype'), url('#{$path-font}/#{$font-family-ico}.ttf?qqnr5') format('truetype'), url('#{$path-font}/#{$font-family-ico}.woff?qqnr5') format('woff'), url('#{$path-font}/#{$font-family-ico}.svg?qqnr5##{$font-family-ico}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.i-,
[class^="i-"],
[class*=" i-"],
.o-ico {
  &::before {
    @include font-family-ico($font-family-ico);
  }
}

.i-after-,
[class^="i-after-"],
[class*="i-after-"] {
  &:after {
    @include font-family-ico($font-family-ico);
  }
}

// - V 1.0

// A

/**
* @icon .i-arrow-right
* @markup
*   <span class="i-arrow-right"></span>
*/
.i-arrow-right {
  &:before {
    content: $i-arrow-right;
  }
}

.i-arrow-down {
  &:before {
    content: $i-arrow-down;
  }
}

.i-after-arrow-down {
  &:after {
    content: $i-arrow-down;
  }
}

/**
* @icon .i-arrow-left
* @markup
*   <span class="i-arrow-left"></span>
*/
.i-arrow-left {
  &:before {
    content: $i-arrow-left;
  }
}
.i-after-arrow-left {
  &:before {
    content: $i-arrow-left;
  }
}


// B

/**
* @icon .i-bars
* @markup
*   <span class="i-bars"></span>
*/
.i-bars {
  &::before {
    content: $i-bars;
  }
}

/**
* @icon .i-book
* @markup
*   <span class="i-book"></span>
*/
.i-book {
  &::before {
    content: $i-book;
  }
}
.i-after-book {
  &::after {
    content: $i-book;
  }
}


// C

/**
* @icon .i-check
* @markup
*   <span class="i-check"></span>
*/
.i-check {
  &::before {
    content: $i-check;
  }
}

/**
* @icon .i-chevron-up
* @markup
*   <span class="i-chevron-up"></span>
*/
.i-chevron-up {
  &::before {
    content: $i-chevron-up;
  }
}
.i-after-chevron-up {
  &::after {
    content: $i-chevron-up;
  }
}

/**
* @icon .i-chevron-right
* @markup
*   <span class="i-chevron-right"></span>
*/
.i-chevron-right {
  &::before {
    content: $i-chevron-right;
  }
}

/**
* @icon .i-chevron-down
* @markup
*   <span class="i-chevron-down"></span>
*/
.i-chevron-down {
  &::before {
    content: $i-chevron-down;
  }
}

/**
* @icon .i-chevron-left
* @markup
*   <span class="i-chevron-left"></span>
*/
.i-chevron-left {
  &::before {
    content: $i-chevron-left;
  }
}

/**
* @icon .i-close
* @markup
*   <span class="i-close"></span>
*/
.i-close {
  &::before {
    content: $i-close;
  }
}


// D

/**
* @icon .i-download
* @markup
*   <span class="i-download"></span>
*/
.i-download {
  &::before {
    content: $i-download;
  }
}
.i-after-download {
  &::after {
    content: $i-download;
  }
}

// E

/**
* @icon .i-external-redirect
* @markup
*   <span class="i-external-redirect"></span>
*/
.i-external-redirect {
  &::before {
    content: $i-external-redirect;
  }
}
.i-after-external-redirect {
  &::after {
    content: $i-external-redirect;
  }
}

// F

/**
* @icon .i-facebook
* @markup
*   <span class="i-facebook"></span>
*/
.i-facebook {
  &::before {
    content: $i-facebook;
  }
}


// H

/**
* @icon .i-headset
* @markup
*   <span class="i-headset"></span>
*/
.i-headset {
  &::before {
    content: $i-headset;
  }
}

/**
* @icon .i-home
* @markup
*   <span class="i-home"></span>
*/
.i-home {
  &::before {
    content: $i-home;
  }
}
.i-after-home {
  &::after {
    content: $i-home;
  }
}


// I

/**
* @icon .i-instagram
* @markup
*   <span class="i-instagram"></span>
*/
.i-instagram {
  &::before {
    content: $i-instagram;
  }
}


// L

/**
* @icon .i-link
* @markup
*   <span class="i-link"></span>
*/
.i-link {
  &::before {
    content: $i-link;
  }
}
.i-after-link {
  &::after {
    content: $i-link;
  }
}

// M

/**
* @icon .i-mail
* @markup
*   <span class="i-mail"></span>
*/
.i-mail {
  &::before {
    content: $i-mail;
  }
}

/**
* @icon .i-minor
* @markup
*   <span class="i-minor"></span>
*/
.i-minor {
  &::before {
    content: $i-minor;
  }
}

// P

/**
* @icon .i-play
* @markup
*   <span class="i-play"></span>
*/
.i-play {
  &::before {
    content: $i-play;
  }
}
.i-after-play {
  &::after {
    content: $i-play;
  }
}

/**
* @icon .i-plus
* @markup
*   <span class="i-plus"></span>
*/
.i-plus {
  &::before {
    content: $i-plus;
  }
}

// S

/**
* @icon .i-search
* @markup
*   <span class="i-search"></span>
*/
.i-search {
  &::before {
    content: $i-search;
  }
}

/**
* @icon .i-search
* @markup
*   <span class="i-search"></span>
*/
.i-after-search {
  &::after {
    content: $i-search;
  }
}


// T

/**
* @icon .i-telephone
* @markup
*   <span class="i-telephone"></span>
*/
.i-telephone {
  &::before {
    content: $i-telephone;
  }
}

/**
* @icon .i-tiktok
* @markup
*   <span class="i-tiktok"></span>
*/
.i-tiktok {
  &::before {
    content: $i-tiktok;
  }
}

/**
* @icon .i-twitter
* @markup
*   <span class="i-twitter"></span>
*/
.i-twitter {
  &::before {
    content: $i-twitter;
  }
}


// Y

/**
* @icon .i-youtube
* @markup
*   <span class="i-youtube"></span>
*/
.i-youtube {
  &::before {
    content: $i-youtube;
  }
}
