{% extends "base.html" %}

{% load wagtailcore_tags static i18n %}

{% spaceless %}

  {% block content %}

    {# Cabecera #}
    <div class="o-hgroup-band o-surface_navy-blue o-primary">
      <div class="o-canvas">

        <header class="o-hgroup-band__header">
          <h1 class="o-subheadline">Busca en Santillana Contigo</h1>
        </header>

        {# Componente filtros #}
        {% include "include/component/filter/filter.html" %}

      </div>
    </div>
    {# Fin cabecera #}

    {# Filtro ordenar por y label de resultados #}
    {% include "include/component/filter/filter_band.html" with object_list=page_obj results_caption="resultados de búsqueda" is_catalog_page="true" %}

    {# Resultados de busqueda #}
    <section class="o-section">
      <div class="o-canvas">

        <div class="o-card-product-wrap">

          {% for book in object_list %}
            {#{{ book.get_parent|inspect }}#}
            {# Card detalle producto (Libro) #}
            {% include "include/component/card/product_card.html" with object=book only %}
          {% endfor %}

        </div>

      </div>

      {# Paginador #}
      {% include "include/paginator.html" with object_list=page_obj %}
    </section>
    {# Fin resultados de busqueda #}

    {# Componentes página #}
    {% for block in self.content %}
      {% include_block block with block_id=block.id %}
    {% endfor %}

  {% endblock content %}

{% endspaceless %}
