{% extends "base.html" %}

{% load wagtailcore_tags static i18n %}

{% spaceless %}

  {% block title %} {% trans "Resultados de búsqueda" %} {% endblock %}

  {% block content %}

    {# Cabecera #}
    <div class="o-hgroup-band o-surface_navy-blue o-primary">
      <div class="o-canvas">

        <header class="o-hgroup-band__header">
          <h1 class="o-subheadline">Busca en Santillana Contigo</h1>
        </header>

        {# Componente filtros #}
        {% include "include/component/filter/filter.html" %}

      </div>
    </div>
    {# Fin cabecera #}

    {# Filtro ordenar por y label de resultados #}
    {% include "include/component/filter/filter_band_search.html" with object_list=page_obj %}

    {# Resultados de busqueda #}
    <section {% if object_list %}class="o-section o-section_minor"{% endif %}>
      <div class="o-canvas">

        <div class="o-card-product-wrap">

          {% for book in object_list %}

            {#{{ book.get_parent|inspect }}#}
            {# Card detalle producto (Libro) #}
            {% include "include/component/card/product_card.html" with object=book only %}

          {% empty %}

            <div class="o-primary">
              <h4 class="o-subtitle">
                <strong>¿Tienes problemas para encontrar lo que buscas?</strong>
              </h4>
          
              <ul class="o-list-indent o-subtitle">
                <li>Verifica que la palabra de búsqueda no tenga faltas de ortografía.</li>
                <li>Prueba con otra palabra similar.</li>
                <li>Intenta con una palabra menos específica.</li>
                <li>Elimina filtros.</li>
              </ul>
            </div>

          {% endfor %}

        </div>

      </div>

      {# Paginador #}
      {% if object_list %}
        {% include "include/paginator.html" with object_list=page_obj %}
      {% endif %}

    </section>
    {# Fin resultados de busqueda #}

    {# Componentes página #}
    {% for block in self.content %}
      {% include_block block with block_id=block.id %}
    {% endfor %}

  {% endblock content %}

{% endspaceless %}
