//-*------------------------------------*
//-   .o- class Objects Títles.
//-*------------------------------------*

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $f-default;
	font-weight: $f-medium;
	line-height: 1.2;
}
