// -*------------------------------------*
// -   .o- class Objects Títles.
// -*------------------------------------*

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f-default;
  font-weight: $f-medium;
  line-height: 1.2;
}


/**
 * Class: .o-hgroup
 * @description  grupo para el encabezado de una sección con guiño.
 *	Contenedor para título con diseño mixto.
 * 	♣ Propiedades: Inline-block | Uppercase
 * @atom Hgroup wink
 * @modifiers  
 *  .o-hgroup_center Centra el encabezado de la sección
 * @section 02. Títulos
 * @markup
 *	<header class="o-hgroup">
 *		<p class="o-kicker o-hgroup__space"> Parrafo de sección</p>
 *		<h2 class="o-headline"> Titular de sección</h2>
 *		<h3 class="o-subheadline o-hgroup__space"> SubTitular de sección</h3>
 *		<p class="o-kicker"> Parrafo de sección</p>
 *	</header>
 */

.o-hgroup {
  @include px-to-rem(max-width, 612px);
  @include px-to-rem(padding-bottom, $gutter * 4);
}
.o-hgroup_center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.o-hgroup__space {
  @include px-to-rem(margin-bottom, $gutter * 2);
}

.o-headline {
  font-weight: $f-regular;
  @include px-to-rem(font-size, $gutter * 4);
}

.o-subheadline {
  @include px-to-rem(font-size, $gutter * 3);
}


/*------------------------------------*\
  Media Querys
\*------------------------------------*/

/**
* Desktop | VP: min-width 768px
*/
@include media-query(medium) {
  .o-headline {
    font-weight: $f-regular;
    @include px-to-rem(font-size, $gutter * 6);
  }

  .o-subheadline {
    @include px-to-rem(font-size, $gutter * 4);
  }
}
