// -*------------------------------------*
// -   .o- class Objects Botones y enlaces.
// -*------------------------------------*

*:focus {
  outline: 0;
}

button {
  padding: 0;
  line-height: inherit;
  font-family: $f-default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  outline-width: 0;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: all 0.6s;

  &:focus {
    outline-width: 0;
  }

  &:disabled {
    cursor: default;
  }
}

/**
 * Class: o-btn
 * @modifiers
 *  .o-btn_primary Botón para acciones primarias
 *  .o-btn_secondary Botón para acciones secundarias 
 * @description  Botón acciones primarias y secundarias
 * ♣ Estados: hover, focus
 * @atom Botón
 * @section 05. Botones
 * @markup
 *   <div class="sg-modifires">
 *      <a class="o-btn" type="button">
 *        Texto botón
 *      </a>
 *      <a class="o-btn o-btn_secondary" type="button">
 *        Texto botón
 *      </a>
 *   </div>
 */

.o-btn {
  @include inline-flex;
  @include justify-content(center);
  @include align-items(center);
  @include px-to-rem(min-width, 200px);
  border: 1px solid $c-brand-primary;
  border-radius: 50px;
  @include px-to-rem(padding, 18px $gutter * 6);
  line-height: 1;
  color: $c-neutro;
  @include px-to-rem(font-size, $font-size-base);
  font-family: $f-default;
  font-weight: $f-medium;
  text-align: center;
  background-color: $c-brand-primary;
  transition: all 0.4s;

  &:hover,
  &:focus,
  &:active {
    color: $c-brand-primary;
    border-color: $c-brand-primary;
    background-color: $c-neutro;
    transform: scale(0.9);
  }

  &::after {
    padding-left: $gutter * 2;
    font-size: 12px;
  }

}

.o-btn_secondary {
  color: $c-brand-primary;
  border-color: $c-brand-primary;
  background-color: $c-neutro;

  &:hover,
  &:focus,
  &:active {
    color: $c-neutro;
    border-color: $c-brand-primary;
    background-color: $c-brand-primary;
  }
}

.o-btn_outline-grey {
  border-color: $c-default-text;
  color: $c-default-text;
}

.o-btn_small {
  @include px-to-rem(min-width, 210px);
  @include px-to-rem(padding, $gutter * 2);
}

.o-btn_bg-transparent {
  background-color: transparent;
}


/**
 * Class: o-btn-round
 * @modifiers
 *  .o-btn-round_primary Botón para acciones primarias
 *  .o-btn-round_light Botón para acciones secundarias 
 * @description  Botón acciones primarias y secundarias circulares
 * ♣ Estados: hover, focus
 * @atom Botón
 * @section 05. Botones
 * @markup
 *   <div class="sg-modifires">
 *      <button class="o-btn" type="button">
 *        Texto botón
 *      </button>
 *   </div>
 */

.o-btn-round {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: $gutter * 5;
  height: $gutter * 5;
  border: 1px solid;
  border-radius: 50%;
  transition: $transition-ease-in-out-2s;
}
.o-btn-round_primary {
  color: $c-neutro;
  background: $c-brand-primary;

  &:hover {
    border-color: $c-primary-10;
    color: $c-brand-primary;
    background-color: $c-primary-10;
    transform: scale(0.9);
  }
}
.o-btn-round_light {
  border-color: $c-primary-10;
  color: $c-brand-primary;
  background-color: $c-primary-10;

  &:hover {
    color: $c-primary-10;
    background-color: $c-brand-primary;
  }
}
