// -*------------------------------------*
// -   .o- class Objects Enlaces.
// -*------------------------------------*

a {
  text-decoration: none;
  color: inherit;
  outline-width: 0;
  cursor: pointer;
  transition: all 0.6s;
}

/**
 * Class: o-link
 * @atom Link
 * @section 06.Enlaces
 * @markup
 *   <p>
 *     <a class="o-link" href="#"> Enlaces textuales</a>
 *   </p>
 */

.o-link {
  display: block;
  position: relative;
  padding: 0;
  color: $c-default-text;
  text-decoration: underline;
  text-underline-position: under;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }

  &::before {
    display: inline-block;
    margin-right: $gutter;
  }
}

.o-link_secondary {
  color: $c-brand-primary;
  @include px-to-rem(font-size, $font-size-base);
  font-weight: $f-medium;
} 

.o-link_icon {
  @include flexbox;
  justify-content: flex-end;
  align-items: center;
  @include px-to-rem(column-gap, $gutter * 3);
}