.o-img {
  width: 100%;
}

.o-video {
  // @include aspect-ratio-box(16, 9);
  iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
