.t-theme-turquesa {
  color: $c-turquesa-50;
  background-color: $c-turquesa-20;
}

.t-theme-yellow {
  color: $c-yellow-50;
  background-color: $c-yellow-20;
}

.t-theme-blue {
  color: $c-blue-50;
  background-color: $c-blue-20;
}
