{% load i18n %}
{% load inspector %}

<div class="o-paginator">


  <nav class="o-paginator__navigation">

    {% if object_list.has_previous %}
      <a
        class="o-paginator__arrow left i-arrow-left"
        href="?page={{ object_list.previous_page_number }}"
        data-page="{{ object_list.previous_page_number }}"
        @click.prevent="goToPage"
      >
        <span class="u-hidden">Icono flecha</span>
      </a>
    {% endif %}
  
    {% for page_num in paginator.page_range %}
      <a
        href="?page={{ page_num }}"
        class="o-paginator__number {% if page_num == object_list.number %}active{% endif %}"
        data-page={{ page_num }}
        @click.prevent="goToPage"
      >
        {{ page_num }}
      </a>
    {% endfor %}
  
    {% if object_list.has_next %}
      <a
        class="o-paginator__arrow right i-arrow-right"
        href="?page={{ object_list.next_page_number }}"
        data-page="{{ object_list.next_page_number }}"
        @click.prevent="goToPage"
      >
        <span class="u-hidden">Icono flecha</span>
      </a>
    {% endif %}
  
  </nav>

  <p class="o-paginator__lead">
    {{ object_list|length }}
    {% trans "de" %} {{  paginator.count }} {% trans "textos" %}
  </p>

</div>
