{% extends "base.html" %}
{% load static %}
{% load inspector %}


{% block body_class %}template-homepage{% endblock %}

{% block content %}

{% for item in order_form %}
  {{ item }}
{% endfor %}

{% for page in sub_pages %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ page.title }}</h1>
        </div>
    </div>

{% endfor %}

<ul class="pagination">
  {% if sub_pages.has_previous %}
    <li><a href="?page={{ sub_pages.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
  {% endif %}
  {% for page_num in sub_pages.paginator.page_range %}
    <li {% if page_num == sub_pages.number %}class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
  {% endfor %}
  {% if sub_pages.has_next %}
    <li><a href="?page={{ sub_pages.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
  {% endif %}
</ul>

{% endblock content %}