{% extends 'base.html' %}
{% load wagtailcore_tags svg_tags i18n %}


{% block content %}

  {# Cabecera #}
  <div class="o-hgroup-band o-surface_navy-blue">
    <div class="o-canvas">

      <header class="o-hgroup-band__header o-hgroup-band__header_center o-hgroup-band__header_padding56">
        {% if self.title %}
          <h1 class="o-headline">{{ self.title }}</h1>
        {% endif %}
      </header>

    </div>
  </div>
  {# Fin cabecera #}

  {# Filtro ordenar por y label de resultados #}
  {% include "include/component/filter/filter_band.html" with results_caption="artículos en" %}

  <section class="o-section">
    <div class="o-canvas">

      <div class="o-card-article-wrap">
        {% for card in object_list %}

          <article class="o-card o-card_article u-rounded-16">
            <a href="{% pageurl card %}">
              <figure class="o-card__figure">
                {% svg-image card.search_image fill-350x273 class="o-card__img"  %}
              </figure>
            
              <div class="o-card__content">
                <p class="o-kicker">{{ card.get_parent.title }}</p>
                <p class="o-card__text o-text">{{ card.seo_title }}</p>
              </div>
            </a>
          </article>
          
        {% endfor %}
      </div>

    </div>

    {# Paginador #}
    {% include "include/paginator.html" %}
  </section>

  {# Componentes de la página #}
  {% for block in self.content %}
    {% include_block block with block_id=block.id %}
  {% endfor %}

{% endblock content %}

