{% extends 'extend/extend_content_page.html' %}

{% load wagtailcore_tags wagtailembeds_tags i18n %}

{% block course_detail %}

  <ul class="c-intro-content__list o-list">
    <li class="o-light">{{ self.date_time_event|date }}</li>
    <li class="c-intro-content__point">
      <span class="u-hidden">Bullet separador</span>
    </li>
    <li class="o-light">
      {% trans 'Dirigido por' %}
      <span class="o-regular">{{ self.responsible }}</span>
    </li>
  </ul>

  <a
    href="{{ self.registration_form_url }}"
    target="_blank"
    class="o-btn"
  >
    {% trans 'Inscribete aquí' %}
  </a>

{% endblock course_detail %}

{% block social_share %}
  {% include 'include/component/social_share.html' %}
{% endblock social_share %}

{% block media_page %}

  {% if self.hashtag_youtube %}
    {% embed self.hashtag_youtube %}
  {% else %}
    {% svg-image self.search_image fill-1200x630 class="c-intro-content__img" %}
  {% endif %}

{% endblock media_page %}
