{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags catalog_tags i18n %}

{% block opengraph %}
  {% include 'include/open_graph.html' %}
{% endblock opengraph %}

{% block breadcrumbs_items %}
  {% get_catalog_page %}
  <a
    href="{% pageurl catalog_page %}?grade={{ self.grade.pk }}"
    class="c-breadcrumbs__item o-link o-link_secondary o-light"
  >
    {{ self.grade.name }}
  </a>
{% endblock %}

{% block content %}
  {% get_catalog_page %}

  {# Cabecera #}
  <div class="t-theme-{{ self.grade.color }}">
    <div class="o-canvas">

      <div class="o-hgroup-band o-hgroup-band_column">

        <header class="o-hgroup-band__header">
          {% if self.campo_formacion %}
            <h1
              class="o-hgroup-band__subtitle o-sidebar__subtitle o-sidebar__subtitle_sm"
            >
              {{ self.campo_formacion }}
            </h1>
          {% endif %}

          <h2 class="o-sidebar__title o-regular">{{ self.title }}</h2>
        </header>

        <span class="o-hgroup-band__tag">{{ self.grade }}</span>

      </div>

    </div>
  </div>
  {# Fin cabecera #}

  {# Imagen descripción y botonera producto #}
  <section class="o-section">
    <div class="o-canvas">

      <div class="l-thematic-content">

        {% if self.image %}
          <figure class="l-thematic-content__figure">
            {% image self.image fill-350x476 class="l-thematic-content__img"  %}
          </figure>
        {% endif %}

        <div class="l-thematic-content__content">

          {% if self.title_description %}
            <strong class="l-thematic-content__text">
              {{ self.title_description }}
            </strong>
          {% endif %}

          {# Call to actions detalle del libro #}
          <nav class="l-thematic-content__actions">
              {% include 'include/product/call_to_actions.html' %}
          </nav>

          {% if self.short_description %}
            <div class="s-richtext s-richtext_inline l-thematic-content__text o-light">
              {{ self.short_description|richtext }}
            </div>
          {% endif %}

          {# Componente social share #}
          {% include 'include/component/social_share.html' %}

        </div>

      </div>

    </div>
  </section>
  {# Fin imagen descripción y botonera producto #}

  {# Tabs con detalles del producto #}
  <section>
    {% include 'include/component/tabs/tabs.html' %}
  </section>

  {% if related_pages|length > 0 %}
    {# Descubre mas libros #}
    {% include 'include/product/product_list_detail.html' with object_list=related_pages %}
  {% endif %}

  {# Grados relacionados #}
  <section class="o-surface o-surface_grey o-section_border">
    <div class="o-canvas">
  
      <header class="o-hgroup">
        <h3
          class="o-subheadline"
        >
          {% trans 'Navega los libros de ' %} {{ self.subject }} {% trans ' por' %}
        </h3>
      </header>
  
      <nav class="c-list-chip">
  
        {% for degree in related_degrees %}
          <a
            href="{% pageurl catalog_page %}?grade={{ degree.pk }}"
            title="{% trans 'Filtrar por' %} {{ degree.name }}"
            class="c-list-chip__chip o-btn o-btn_secondary o-btn_outline-grey"
          >
            {{ degree.name }}
          </a>
        {% endfor %}
  
      </nav>
  
    </div>
  </section>
  {# Fin grados relacionados #}

  {# Componentes página #}
  {% for block in self.content %}
    {% include_block block with block_id=block.id %}
  {% endfor %}

  {% if self.video %}
    {% include 'include/component/modal_video.html' %}
  {% endif %}

{% endblock content %}
