{% extends 'extend/extend_content_page.html' %}
{% load wagtailcore_tags wagtailembeds_tags wagtailimages_tags i18n %}


{% block breadcrumbs_items %}
  <a
    href="{% pageurl self.get_parent %}"
    class="c-breadcrumbs__item o-link o-link_secondary o-light"
  >
    {{ self.get_parent.title }}
  </a>
  <span
    class="c-breadcrumbs__item o-light o-primary"
  >
    {{ self.title }}
  </span>
{% endblock %}

{% block opengraph %}
  {% include 'include/open_graph.html' %}
{% endblock opengraph %}

{% block date_article %}
  <p class="o-light">{{ self.first_published_at|date }}</p>
{% endblock date_article %}

{% block detail %}

  <ul class="c-intro-content__list o-list">
    {% if self.author %}
      <li class="o-light">
        {% trans 'Escrito por' %}
        <span class="o-regular">{{ self.author }}</span>
      </li>
    {% endif %}

    {% if self.author and self.reading_time %}
      <li class="c-intro-content__point">
        <span class="u-hidden">Bullet separador</span>
      </li>
    {% endif %}

    {% if self.reading_time %}
      <li class="o-light">
        {% trans 'Lectura de' %}
        <span class="o-regular">{{ self.reading_time }}</span>
      </li>
    {% endif %}
  </ul>

{% endblock detail %}

{% block social_share %}
  <div class="o-inner">
    {% include 'include/component/social_share.html' with variant_class="o-social-share_column" %}
  </div>
{% endblock social_share %}

{% block media_page %}
  {% image self.search_image fill-1200x630 class="c-intro-content__img" %}
{% endblock media_page %}

{% block social_share_bottom %}
  <div class="o-inner">
    {% include 'include/component/social_share.html' with variant_class="o-social-share_column" %}
  </div>
{% endblock social_share_bottom %}
