{% extends "base.html" %}
{% load fixed_django_vite wagtailcore_tags  %}
{% load static %}
{% load inspector %}
{% load utils %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

  <div class="wireframe">

      Banner Hero
    <div class="wireframe">
      {% for block in self.hero %}
        {% with prev=self.hero|prev:forloop.counter0 %}
          {% with next=self.hero|next:forloop.counter0 %}
            {% include_block block with prev=prev next=next  %}
          {% endwith %}
        {% endwith %}
      {% endfor %}
    </div>

    Content
    <div class="wireframe">
      {% for block in self.content %}
        {% include_block block %}
      {% endfor %}
    </div>



  </div>
{% endblock content %}

{% block extra_js %}

{% endblock %}