{% extends "base.html" %}
{% load fixed_django_vite wagtailcore_tags  %}
{% load static %}
{% load inspector %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

  <div class="wireframe">
    {# Test Funcionalidad JS, por favor eliminar #}
    <h1 x-data="{ message: 'I ❤️ Santillana' }" x-text="message"></h1>

    Content
    <div class="wireframe">
      {% for block in self.content %}
        {% include_block block %}
      {% endfor %}
    </div>

    Banner Hero
    <div class="wireframe">
      {% for block in self.hero %}
        {% include_block block %}
      {% endfor %}
    </div>

  </div>
{% endblock content %}

{% block extra_js %}

{% endblock %}