{% extends "base.html" %}
{% load fixed_django_vite wagtailcore_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

  {# Slider Hero #}
  {% include "include/hero/slider_hero.html" %}

  {% for block in self.content %}
    {% include_block block with block_id=block.id %}
  {% endfor %}

{% endblock content %}

{% block extra_js %}
  <script src="{% static 'js/components/bannerAd.js' %}"></script>
{% endblock %}