//-*------------------------------------*
//-   Variables Typo font
//-*------------------------------------*


/**
* Base HTML: 16px
* @nuclide Variables
* @section Settings > Font size
*/
$font-size-base: 16px;


/**
* Font family: 'Montserrat'
* @nuclide Variables
* @section Settings > Font family
*/
$f-default: 'Outfit', sans-serif;


/**
* font-weight: Thin | Font family: Outfit
* @nuclide Variables
* @section Settings > Font weight
*/
$f-thin: 100;

/**
* font-weight: Light | Font family: Montserrat
* @nuclide Variables
* @section Settings > Font weight
*/
$f-light: 300;

/**
* font-weight: Regular | Font family: Montserrat
* @nuclide Variables
* @section Settings > Font weight
*/
$f-regular: 400;

/**
* font-weight: Medium | Font family: Montserrat
* @nuclide Variables
* @section Settings > Font weight
*/
$f-medium: 500;

/**
* font-weight: Bold | Font family: Montserrat
* @nuclide Variables
* @section Settings > Font weight
*/
$f-bold: 600;

/**
* font-weight: Italic
* @nuclide Variables
* @section Settings > Font weight
*/
$f-italic: italic;

