//-*------------------------------------*
//-   Variables Typo font
//-*------------------------------------*


/**
* Base HTML: 16px
* @nuclide Variables
* @section Settings > Font size
*/
$font-size-base: 16px;

/**
* Font family: 'Montserrat'
* @nuclide Variables
* @section Settings > Font family
*/
$f-default: 'Montserrat', sans-serif;

/**
* font-weight: Light | Font family: Montserrat
* @nuclide Variables
* @section Settings > Font weight
*/
$f-light: 300;

/**
* font-weight: Medium | Font family: Montserrat
* @nuclide Variables
* @section Settings > Font weight
*/
$f-medium: 400;

/**
* font-weight: Semi-bold | Font family: Montserrat
* @nuclide Variables
* @section Settings > Font weight
*/
$f-semi-bold: 500;

/**
* font-weight: Bold | Font family: Montserrat
* @nuclide Variables
* @section Settings > Font weight
*/
$f-bold: 600;

/**
* font-weight: Italic
* @nuclide Variables
* @section Settings > Font weight
*/
$f-italic: italic;

