//-*------------------------------------*
//-   Variables fuentes de ícono
//-*------------------------------------*


/**
* Font family: fuentes de ícono
* @nuclide Variables
* @section Settings > Font family
*/
$font-family-ico: "ico-snw" !default;

// - V 1.0

// B

$i-bars: "\e90e";


// C

$i-chevron-up: "\e90a";
$i-chevron-right: "\e90b";
$i-chevron-down: "\e90d";
$i-chevron-left: "\e90c";
$i-close: "\e909";


// F

$i-facebook: "\e908";


// H

$i-headset: "\e907";


// I

$i-instagram: "\e906";


// M

$i-mail: "\e905";

// R

$i-row: "\e90f";

// S

$i-search: "\e904";


// T

$i-telephone: "\e903";
$i-tiktok: "\e902";
$i-twitter: "\e901";


// Y

$i-youtube: "\e900";
