// -*------------------------------------*
// -    Variables Color Template
// -    Referente del sistema de color:
// -    https://material.io/design/color/the-color-system.html
// -*------------------------------------*

// -*------------------------------------*
// -    Neutro
// -*------------------------------------*

/**
  * $c-neutro
  * @color
  * @section Neutro
*/

$c-neutro: #fff;


// -*------------------------------------*
// -    Primary
// -*------------------------------------*

/**
  * $c-primary-10
  * @color
  * @section Primary
*/

$c-primary-10: #EEF2FC;

/**
  * $c-primary-20
  * @color
  * @section Primary
*/

$c-primary-20: #E6E6E6;

/**
  * $c-primary-30
  * @color
  * @section Primary
*/

$c-primary-30: #D2F3FF;

/**
  * $c-primary
  * @color
  * @section Primary
*/

$c-primary: #00A6E3;

/**
  * $c-primary-50
  * @color
  * @section Primary
*/

$c-primary-50: #1D45AE;

/**
  * $c-primary-90
  * @color
  * @section Primary
*/

$c-primary-90: #87D2EE;

// -*------------------------------------*\
// -    Secondary & tertiary
// -*------------------------------------*/

/**
  * $c-secondary-50
  * @color
  * @section Secondary
*/

$c-secondary-50: #FF5D00;


// -*------------------------------------*
// -    On
// -    Color de textos, encima de las superficies:
// -    Tipografía y colores de iconografía.
// -*------------------------------------*

/**
  * $c-on-primary
  * @color
  * @section On
*/

$c-on-primary: #424242;


// -*------------------------------------*
// -    Background - Surface
// -    Aparece detrás del contenido.
// -    Fondos, bordes
// -    ej: $c-bg-surface: #fff;
// -*------------------------------------*

/**
 * $c-surface-grey-10
 * @color
 * @section Surface
 */

$c-surface-grey-10: #FAFAFA;

/**
 * $c-surface-grey-20
 * @color
 * @section Surface
 */

$c-surface-grey-20: #ECECEC;

/**
 * $c-surface-grey-50
 * @color
 * @section Surface
 */

$c-surface-grey-50: #191C1F;

/**
 * $c-surface-navy-blue-10
 * @color
 * @section Surface
 */

$c-surface-navy-blue-10: #ECFAFF;

/**
 * $c-surface-navy-blue-20
 * @color
 * @section Surface
 */

$c-surface-navy-blue-20: #D1F3FF;


/**
 * $c-surface-navy-blue-10
 * @color
 * @section Surface
 */

$c-surface-navy-blue-10: #ECFAFF;

/**
 * $c-dark
 * @color
 * @section Surface
 */

$c-dark: #000;

// -*------------------------------------*
// -    Default & Brand
// -    se muestra con mayor frecuencia en las pantallas y componentes
// -*------------------------------------*

$c-default-text: $c-on-primary;

$c-default-title: $c-on-primary;

$c-brand-primary: $c-primary-50;

$c-default-link: $c-brand-primary;

$c-brand-secondary: $c-secondary-50;
