// -*------------------------------------*
// -   Variables fuentes de ícono
// -*------------------------------------*


/**
* Font family: fuentes de ícono
* @nuclide Variables
* @section Settings > Font family
*/
$font-family-ico: "ico-snw" !default;

// - V 1.0

// A

$i-arrow-right: "\e910";
$i-arrow-down: "\e912";
$i-arrow-left: "\e90f";

// B

$i-bars: "\e90e";


// C

$i-check: "\e915";
$i-chevron-up: "\e90a";
$i-chevron-right: "\e90b";
$i-chevron-down: "\e90d";
$i-chevron-left: "\e90c";
$i-close: "\e909";

// E

$i-external-redirect: "\e911";


// F

$i-facebook: "\e908";


// H

$i-headset: "\e907";


// I

$i-instagram: "\e906";


// M

$i-mail: "\e905";
$i-minor: "\e913";

// P

$i-plus: "\e914";

// S

$i-search: "\e904";


// T

$i-telephone: "\e903";
$i-tiktok: "\e902";
$i-twitter: "\e901";


// Y

$i-youtube: "\e900";
