{% load wagtailcore_tags svg_tags i18n %}


<article class="o-card o-card_w285 u-rounded-16">

  <figure class="o-card__figure">
    {% svg-image featured_card.value.image fill-285x214 class="o-card__img"  %}
  </figure>

  <div class="o-card__content">
    <p class="o-card__text o-text">{{ featured_card.value.description }}</p>

    {% if featured_card.value.primary_action_url %}
      <a
        href="{% firstof featured_card.value.primary_action_url.external_link.redirect_url featured_card.value.primary_action_url.url %}"
        title="{% trans 'Ir a' %} {{ featured_card.value.primary_action_text }}"
        class="o-card__btn o-btn"
      >
        {{ featured_card.value.primary_action_text }}
      </a>
    {% endif %}
  </div>

</article>
