{% load wagtailcore_tags i18n %}


{% spaceless %}

  <section class="o-section" id="{{ block_id }}">
    <div class="o-canvas">

      {# Cabecera sección #}
      {% if self.title %}
        <header class="o-hgroup o-hgroup_center">
          <h3 class="o-subheadline">{{ self.title }}</h3>
          {% if self.subtitle %}
            <p class="o-kicker">{{ self.subtitle }}</p>
          {% endif %}
        </header>
      {% endif %}

      {% for course in self.course_list %}
        {# Componente agenda #}
        {% include 'include/component/agenda.html' with course=course only %}
      {% endfor %}

    </div>
  </section>

{% endspaceless %}
