{% load static %}


<section id="{{ block_id }}" class="o-surface_navy-blue js-target-banner-ad">

  {# Componente Banner AD #}
  <div class="c-banner-ad">

    <div class="c-banner-ad__wrap o-canvas">

      {# Texto enriquecido #}
      {% if self.banner_text %}
        <div class="s-richtext s-richtext_inline">
          {{ self.banner_text }}
        </div>
      {% endif %}

      {# Botón para scroll to #}
      {% if self.link_text_scroll_to %}
        <button
          class="o-btn o-btn_secondary o-btn_small i-after-arrow-down"
          data-id-scroll-to="{{ self.id_link_scroll_to }}"
          @click="clickToScrollInToComponentSelected(event)"
        >
          {{ self.link_text_scroll_to }}
        </button>
      {% endif %}

    </div>
    
    {# Botón para ocultar banner #}
    <button class="c-banner-ad__btn-close i-close" @click="hideBannerAd(event)">
      <span class="u-hidden">Cerrar</span>
    </button>

  </div>
  
</section>
