{% load wagtailcore_tags svg_tags i18n wagtailuserbar %}


{% spaceless %}

  <section class="o-section" id="{{ block_id }}">
    <div class="o-canvas">

      <div class="o-sidebar__wrapper o-sidebar__wrapper_gutter c-featured-content">

        {# Cabecera y descripción #}
        <header class="c-featured-content__header">

          <h3 class="o-sidebar__subtitle o-sidebar__space-bottom">{{ self.subtitle }}</h3>
          <h2 class="o-sidebar__title">{{ self.title }}</h2>

          <div
            class="o-sidebar__deck s-richtext s-richtext_inline"
          >
            {{ self.description|richtext }}
          </div>

        </header>

        {# Listado de cards destacadas #}
        <ul class="c-featured-content__wrap o-list">

          {% for featured_card in self.add_featured_content %}
            <li>

              {# Card object #}
              {% include 'include/component/card/card.html' %}

            </li>
          {% endfor %}

        </ul>

      </div>

    </div>
  </section>

{% endspaceless %}
