{% extends "extend/components/extend_hero_slider.html" %}
{% load inspector %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block modifires-swiper-slide %} l-slide_margin{% endblock modifires-swiper-slide %}

{# media #}
{% block media %}
  <section class="o-surface o-surface_navy-blue" id="{{ block_id }}">
    <div class="l-slide__media l-slide__media_video">
      <figure class="l-slide__figure_video">
        <div class="l-slide__video">
          {{ self.video }}
        </div>
        <div class="l-slide__first-svg_video">
          {% include "includes/hero/svg/curves.html" %}
        </div>
        <div class="l-slide__second-svg_video">
          {% include "includes/hero/svg/star.html" %}
        </div>
      </figure>
    </div>
  </section>
{% endblock media %}

{# media background slide #}
{% block background-slide %}
  <div class="l-slide__bg">
    {% include "includes/hero/svg/girl.html" %}
  </div>
{% endblock background-slide %}
