{% load wagtailimages_tags wagtailcore_tags i18n %}


<section class="o-surface o-surface_navy-blue" id="{{ block_id }}">
    <div class="o-canvas">

        {# titles #}
        <header class="o-hgroup o-hgroup_center">
            <h3 class="o-kicker o-hgroup__space">{{ self.subtitle }}</h3>
            <h2 class="o-headline o-hgroup__space">{{ self.title }}</h2>
            <h4 class="o-kicker o-hgroup__space">{{ self.introduction }}</h4>
        </header>
   
        {# items #}
        <ul class="c-social-proof__list">
            {% for item in self.add_figures %}
                <li class="c-social-proof__item">
                    {% image item.value.icon fill-150x125-c100 class="c-social-proof__img" %}
                    <p class="c-social-proof__value">{{ item.value.value }}</p>
                    <p class="c-social-proof__text">{{ item.value.description }}</p>
                </li>
            {% endfor %}
        </ul>
     
        {# footer section #}
        <div class="o-section__footer">
          {% if self.primary_action_text %}
            <a
              href="{% pageurl self.primary_action_url %}"
              title="{% trans 'Ir a' %} {{ self.primary_action_text }}"
              class="o-btn"
            >
                {{ self.primary_action_text }}
            </a>
          {% endif %}
          {% if self.caption %}
            <div class="s-richtext s-richtext_inline c-social-proof__caption">
              {{ self.caption|richtext }}
            </div>
          {% endif %}
        </div>
    </div>

</section>