{% load wagtailcore_tags wagtailimages_tags i18n wagtailuserbar %}

{% spaceless %}
  
  {# Si hay testimonios se pinta el componente #}
  {% if self.add_testimonials|length > 0 %}

    <section class="o-surface o-surface_navy-blue" id="{{ block_id }}">

      {% if self.title %}
        <div class="o-canvas">
          <header class="o-hgroup o-hgroup_center">
            <h3 class="o-subheadline">{{ self.title }}</h3>
          </header>
        </div>
      {% endif %}

      <div class="swiper js-slider-testimonial">

        <ul class="o-list swiper-wrapper">
          
          {% for testimonial in self.add_testimonials %}
            {# Card testimonio #}
            <li class="c-testimonial swiper-slide">

              {% if testimonial.avatar.avatar %}
                <figure class="c-testimonial__figure">
                  {% image testimonial.avatar fill-100x100 class="o-img" %}
                </figure>
              {% endif %}

              <div>
                <h4 class="c-testimonial__title"> {{ testimonial.name_lastname }} </h4>

                {% if testimonial.profession %}
                  <p
                    class="c-testimonial__text c-testimonial__text_bold"
                  >
                    {{ testimonial.profession }}
                  </p>
                {% endif %}

                <p class="c-testimonial__text">"{{ testimonial.review }}"</p>
              </div>

            </li>

          {% endfor %}

        </ul>

        <div class="c-testimonial-slider__actions">

          <!-- If we need navigation buttons -->
          <span class="c-testimonial-slider__btn swiper-button-prev"></span>

          <!-- If we need pagination -->
          <div class="c-testimonial-slider__pagination swiper-pagination"></div>

          <span class="c-testimonial-slider__btn swiper-button-next"></span>

        </div>

      </div>

    </section>

  {% endif %}

{% endspaceless %}
